<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.goddemon.sistemoperasi">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".WindowsActivity" />
        <activity android:name=".InstalWindows" />
        <activity android:name=".Windows7" />
        <activity android:name=".Windows7lanjutan" />
        <activity android:name=".Windows7lanjutanakhir" />
        <activity android:name=".Windows8" />
        <activity android:name=".Windows10" />
        <activity android:name=".Linux" />
        <activity android:name=".LinuxDebian" />
        <activity android:name=".LinuxUbuntu" />
        <activity
            android:name=".InstallUbuntu"
            android:label="@string/title_activity_install_ubuntu"
            android:theme="@style/AppTheme" />
        <activity android:name=".MacOs" />
        <activity android:name=".Solaris" />
        <activity android:name=".SolarisLanjutan" />
        <activity android:name=".Ios" />
        <activity android:name=".Android" />
        <activity android:name=".ChromixiumOs" />
        <activity android:name=".UnixFree" />
        <activity android:name=".Ibm"></activity>
    </application>

</manifest>